body {
    background-color: #000000;
}

#container {
    padding: 10px;
    width: 800px;
    margin: auto;
    background-color: #ffffff;
}

#solarSysImg {
    position: relative;
    left: -10px;
}

#desc {
    margin-left: 100px;
}

#planets {
    margin-left: 75px;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #2B679A;
    text-decoration: underline;
} 
a:visited {
    color: #000000;
}

#footer {
    text-align: right;
    font-size: .75em;
}
